@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.box{
    width: 200px;
    border: 2px solid red;
    text-align: center;
    margin-top: 50px;
}

.description{
    color: burlywood;
    font-size: 30px;
    /* font-weight: bold; */
    text-align: center;
    width: 50%;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.line-1{
    width: 300px;
    height: 200px;
    border: 1px solid rgb(234, 11, 11);
    /* margin-bottom: 10px; */
   
}
.line-2{
    width: 300px;
    height: 200px;
    border: 1px solid green;
}
.line-container{
    margin-top: 20px;
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    height: 100vh;
    border: 1px solid greenyellow;
    align-items: center;
    flex-wrap: wrap;
}
button{
    margin: 30px;
    border: 2px solid red;
    width: 200px;
    padding: 20px;
    background:linear-gradient(45deg,yellow,blue);
}