@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Shared Style */
body{
    font-family: "Open Sans", serif;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}

/* navbar Style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.primary-color{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: black;
}