h1{
    color: darkkhaki;
}

#fruits_title{
    color: chocolate;
}

.imp-places{
    color:lime;
}
.fruits-container li{
    color: darkred;
}

.text-center{
    text-align: center;
}

.lg-font{
    font-size:x-large;
}